
    <h1><center>Patient Information</center></h1>
      <%= form_for @patient, url: patient_index_url do |h| %>
      <p>
        <%= h.label :First_Name %><br>
        <%= h.text_field :First_Name %>
      </p>

      <p>
        <%= h.label :Last_Name %><br>
        <%= h.text_field :Last_Name %>
      </p>

      <p>
        <%= h.label :Age %><br>
        <%= h.text_field :age %>
      </p>

      <p>
        <%= h.label :Address %><br>
        <%= h.text_field :Address %>
      </p>

      <p>
        <%= h.label :Mobile %><br>
        <%= h.text_field :Mobile %>
      </p>

      <p>
        <%= h.label :Gender %><br>
        <%= h.text_field :Gender %>
      </p>

      <p>
        <%= h.label :Hospital_id %><br>
        <%= h.text_field :hospital_id %>
      </p>

      <p>
        <%= h.submit%>
      </p>
    <% end %>
