<table>
  <h1><strong><center>Hospital Details</center></strong></h1>
    <tr><%= link_to 'New' , new_hospital_path %></tr>
    <tr>
  <th>Name</th>
  <th>Address</th>
  <th>State</th>
  <th>Beds</th>
  <th>show</th>
  <th>Edit</th>
  <th>Delete</th>
  <th>Soft Delete</th>
  </tr>
  <% @hospital.each do |h| %>
  <tr>
      <td><%= h.Name %></td>
      <td><%= h.Address %></td>
      <td><%= h.State %></td>
      <td><%= h.Beds %></td>
      <td><%= link_to 'show' , hospital_path(h) %></td>
      <td><%= link_to 'edit' ,edit_hospital_path(h) %></td>
      <td><%= link_to 'delete' ,hospital_path(h) ,method: :delete ,data: {confirm: 'Are you certain?'} %></td>
      <td><%= link_to 'soft_delete' ,hospital_path(h) ,method: :soft_delete ,data: {confirm: 'Soft Deleted'} %></td>
  </tr>
  <% end %>
</table>
