
    <h1><center>Hospital Information</center></h1>
    <div class="text-center">
      <%= form_for @hospital,  url: hospital_index_url do |h| %>
      <p>
        <%= h.label :Hospital_Name %><br>
        <%= h.text_field :Name %>
      </p>

      <p>
        <%= h.label :Address %><br>
        <%= h.text_field :Address %>
      </p>

      <p>
        <%= h.label :State %><br>
        <%= h.text_field :State %>
      </p>

      <p>
        <%= h.label :Beds %><br>
        <%= h.text_field :Beds %>
      </p>

      <%= h.fields_for :doctors do |d|%>
        <li>
          <p>
            <%= d.label :First_name%>
            <%= d.text_field :First_name%>
          </p>

          <p>
            <%= d.label :Last_name%>
            <%= d.text_field :Last_name%>
          </p>

          <p>
            <%= d.label :hospital_id%>
            <%= d.text_field :hospital_id%>
          </p>

          <p>
            <%= d.label :Password%>
            <%= d.password_field :password%>
          </p>

          <p>
            <%= d.label :confirm_password%>
            <%= d.password_field :confirm_password%>
          </p>
        </li>
        <% end %>

      <p>
        <%= h.submit%>
      </p>
    <% end %>
</div>
