<div class="bg-secondary text-white">
  <h1><strong><center>Login Doctor</center></strong></h1><hr>
</div>
  <div class="text-center font-weight-bold">
    Id: <%= @hospital.id %><br>
    Hospital Name: <%= @hospital.Name %><br>
    Address: <%= @hospital.Address %><br>
    State: <%= @hospital.State %><br>
    Beds: <%= @hospital.Beds %><br>
  </div>
