<div>
  <%= form_tag doctor_paginate_path, method: 'get',remote: true do %>
    <%= text_field_tag :search, params[:search]%>
    <%= submit_tag "Search"%>
  <% end %>

  <p class="pt-5 text-center">
    <%= link_to 'New |' ,'doctors/new'%>
    <%= link_to   params[:page] ? 'Previous Page | ': ' ' , doctor_paginate_path(page: @page-1), method: 'get', remote: true%>
    <%= link_to  "Next Page" , doctor_paginate_path(page: @page+1), method: 'get', remote: true%>
  </p>
</div>
<table>
  <tr>
    <!-- <th><%= sortable "Id" %></th> -->
    <th><%= sortable "First_name" %></th>
    <th><%= sortable "Last_name" %></th>
    <th>Qualifications</th>
    <th><%= sortable "Salary" %></th>
    <th>Email</th>
    <th>Mobile</th>
    <th>Age</th>
    <th>Hospital Id</th>
    <th>Show details</th>
    <th>Edit details</th>
    <th>Delete details</th>
  </tr>
<% @doctors.each do |d| %>
  <tr>
    <td><%= d.first_name %></td>
    <td><%= d.last_name %></td>
    <td><%= d.qualifications%></td>
    <td><%= d.salary %></td>
    <td><%= d.email %></td>
    <td><%= d.mobile %></td>
    <td><%= d.age %></td>
    <td><%= d.hospital_id %></td>
    <td><%= link_to 'Show' ,doctor_path(d) %></td>
    <td><%= link_to 'Edit' ,edit_doctor_path(d) %></td>
    <td><%= link_to 'Delete' ,doctor_path(d) ,
       method: :Delete ,
       data: {confirm: 'Are you certain?'}%></td>
  </tr>
<% end %>
</table>
