<div class="form-group">
  <%= form_tag doctor_paginate_path, method: 'get', remote: true do %>
    <%= text_field_tag :search, params[:search], class: "form-control w-25 ml-5"%>
    <%= submit_tag "Search", class: "btn btn-primary ml-5 mt-2 mix"%>
  <% end %>

  <p class="text-center">
    <%= link_to 'New |' ,'doctors/new'%>
    <%= link_to   params[:page] ? 'Previous Page | ': ' ' , doctor_paginate_path(page: @page-1), method: 'get', remote: true%>
    <%= link_to  "Next Page" , doctor_paginate_path(page: @page+1), method: 'get', remote: true%>
  </p>
</div>
<table class="rowval">
  <tr>
    <th></th>
    <th><%= link_to "First_name", :sort => "First_name", remote: true%></th>
    <th><%= link_to "Last_name", :sort => "Last_name", remote: true %></th>
    <th>Qualifications</th>
    <th>Salary</th>
    <th>Email</th>
    <th>Mobile</th>
    <th>Age</th>
    <th>Hospital Id</th>
    <th>Show details</th>
    <th>Edit details</th>
    <th>Delete details</th>
  </tr>
<% @doctors.each do |d| %>
  <tr>
    <th><%= check_box_tag "doctors[]",d.id %></th>
    <td><%= d.first_name %></td>
    <td><%= d.last_name %></td>
    <td><%= d.qualifications%></td>
    <td><%= d.salary %></td>
    <td><%= d.email %></td>
    <td><%= d.mobile %></td>
    <td><%= d.age %></td>
    <td><%= d.hospital_id %></td>
    <td><%= link_to 'Show' ,doctor_path(d) %></td>
    <td><%= link_to 'Edit' ,edit_doctor_path(d) %></td>
    <td><%= link_to 'Delete' ,doctor_path(d) ,
       method: :Delete ,
       data: {confirm: 'Are you certain?'}%></td>
  </tr>
<% end %>
</table>
