
    <h1><strong><center>List of Doctors</center></strong></h1>
    <table>
      <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Qualifications</th>
      <th>Salary</th>
      <th>Email</th>
      <th>Mobile</th>
      <th>Age</th>
      <th>Hospital Id</th>
      </tr>
      <% @doctors.each do |d| %>
        <tr>
          <td><%= d.First_name %></td>
          <td><%= d.Last_name %></td>
          <td><%= d.Qualifications %></td>
          <td><%= d.salary %></td>
          <td><%= d.email %></td>
          <td><%= d.mobile %></td>
          <td><%= d.age %></td>
          <td><%= d.hospital_id %></td>
          <td><%= link_to 'Show' ,doctor_path(d) %></td>
        </tr>
      <% end %>
    </table>
