
    <h1><center>Doctor Information</center></h1>
    <div class="container w-50 bg-light">

    <%= form_for @doctor, url: doctors_path do |d|  %>
    <div class ="form-group">
      <%= d.label :fname , 'First Name' %><br>
      <%= d.text_field :First_name ,class: 'form-control', placeholder: 'Enter First Name',id:'fname'%>
    </div>

    <div class ="form-group">
      <%= d.label :lname , 'Last Name' %><br>
      <%= d.text_field :Last_name ,class:'form-control', placeholder:'Enter Last Name' ,id:'lname'%>
    </div>

    <div class ="form-group">
      <%= d.label :quali , 'Qualifications' %><br>
      <%= d.text_field :Qualifications ,class:'form-control', placeholder:'Enter Qualifications' ,id:'quali'%>
    </div>

    <div class ="form-group">
      <%= d.label :gender , 'Gender' %><br>
      <%= d.text_field :Gender ,class:'form-control', placeholder:'Enter Gender' ,id:'gender'%>
    </div>

    <div class ="form-group">
      <%= d.label :salary , 'Salary' %><br>
      <%= d.text_field :salary ,class:'form-control', placeholder:'Enter Salary' ,id:'salary'%>
    </div>

    <div class ="form-group">
      <%= d.label :email , 'Email' %><br>
      <%= d.email_field :email ,class:'form-control', placeholder:'Enter Email' ,id:'email'%>
    </div>

    <div class ="form-group">
      <%= d.label :mobile , 'Mobile' %><br>
      <%= d.text_field :mobile ,class:'form-control', placeholder:'Enter Mobile Number' ,id:'mobile'%>
    </div>

    <div class ="form-group">
      <%= d.label :age , 'Age' %><br>
      <%= d.text_field :age ,class:'form-control', placeholder:'Enter Age' ,id:'age'%>
    </div>

    <div class ="form-group">
      <%= d.label :hid , 'Hospital Id' %><br>
      <%= d.text_field :hospital_id ,class:'form-control', placeholder:'Enter Hospital Id' ,id:'hid'%>
    </div>

    <div class ="form-group">
      <%= d.label :pwd , 'Password' %><br>
      <%= d.password_field :password ,class:'form-control', placeholder:'Enter Password' ,id:'pwd'%>
    </div>

    <div class ="form-group">
      <%= d.label :confirm_pwd , 'Password' %><br>
      <%= d.password_field :password ,class:'form-control', placeholder:'Confirm Password' ,id:'confirm_pwd'%>
    </div>

    <div class ="form-group">
      <%= d.label :comments , 'Comments' %><br>
      <%= d.text_area :comments ,class:'form-control', placeholder:'Write Comments...' ,id:'comments'%>
    </div>

    <div class = "form-group ml-500">
      <%= d.submit class: "btn btn-primary"%>
    </div>
  <% end %>
</div>
