<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Doctor's Page</title>
  </head>
  <body bgcolor = "wheat">
    <h1><center>Doctor Information</center></h1>
      <%= form_for :doctors, url: doctors_path do |d| %>
      <p>
        <%= d.label :title %><br>
        <%= d.text_field :title %>
      </p>

      <p>
        <%= d.label :text %><br>
        <%= d.text_area :text %>
      </p>

      <p>
        <%= d.submit%>
      </p>
    <% end %>
  </body>
</html>
