<div class="bg-secondary text-white">
  <h1><strong><center>Login Doctor</center></strong></h1><hr>
</div>
<div class="text-center font-weight-bold">
  Name:-<%= @doctor.First_name %>&nbsp;<%= @doctor.Last_name %><br>
  Qualifications:-<%= @doctor.Qualifications %><br>
  Email:-<%= @doctor.email %><br>
  Mobile Number:-<%= @doctor.mobile %><br>
  Hospital Id:-<%= @doctor.hospital_id%><br>
  Image:-<image src = "<%=(url_for(@doctor.avatar))%>">
</div>
