<h1><center>Appointments Information</center></h1>
<div class="container w-50 bg-dark text-white pb-1">
<% form_for @appointments, url: new_appointment_path do |a| %>
  <p>
    <%= a.label :Start_date%>
    <%= a.text_field :Start_date%>
  </p>
  <p>
    <%= a.label :End_date%>
    <%= a.text_field :End_date%>
  </p>
  <p>
    <%= a.label :patient_id%>
    <%= a.text_field :patient_id%>
  </p>
  <p>
    <%= a.label :doctor_id%>
    <%= a.text_field :doctor_id%>
  </p>
  <p>
    <%= a.submit%>
  </p>

<% end %>
</div>
