<h1><center>Doctor's Information</center></h1>
<center><%= link_to 'New',new_doctor_path%></center>
<table class="table table-hover">
  <tr>
    <th>Doctor_id</th>
    <th>First_Name</th>
    <th>Last_name</th>
    <th>Qualifications</th>
    <th>Gender</th>
    <th>Salary</th>
    <th>Email</th>
    <th>Mobile</th>
    <th>Age</th>
    <th>Hospital_id</th>
    <th>Update</th>
  </tr>
  <% @doctor.each do |doc| %>
  <tr>
    <td><%= doc["doctor_id"]%></td>
    <td><%= doc["first_name"]%></td>
    <td><%= doc["last_name"] %></td>
    <td><%= doc["qualifications"] %></td>
    <td><%= doc["gender"] %></td>
    <td><%= doc["salary"] %></td>
    <td><%= doc["email"] %></td>
    <td><%= doc["mobile"] %></td>
    <td><%= doc["age"] %></td>
    <td><%= doc["hospital_id"] %></td>
    <td><%= link_to 'Edit',edit_doctor_path(doc['doctor_id'])%></td>
  </tr>
  <% end %>
</table>
