<h1><strong><center>Hospital Management Database</center></strong></h1>
<table>
  <tr>
    <th>Tables</th>
    <th>Links</th>
  </tr>
  <tr>
    <td>Hospital Table</td>
    <td><%= link_to 'show',hospital_index_url%></td>
  </tr>
  <tr>
    <td>Patient Table</td>
    <td><%= link_to 'show',doctors_path%></td>
  </tr>
  <tr>
    <td>Doctor Table</td>
    <td><%= link_to 'show',doctors_path%></td>
  </tr>
  <tr>
    <td>Medical Record Table</td>
    <td><%= link_to 'show',doctors_path%></td>
  </tr>
  <tr>
    <td>Appointments Table</td>
    <td><%= link_to 'show',doctors_path%></td>
  </tr>
</table>
